.button {
    border-style: hidden;
    border-color: transparent;
    border-image: none;
    border-radius: 0%;
    background-color: transparent;
    font-size: 13px;
    letter-spacing: .015cm;
}

.hover:hover {
    background-color: rgb(238, 238, 238);
    border-color:rgb(238, 238, 238);
    border-image: none;
    border-radius: 5px;
    
}

.clickeable:hover  {
    cursor: pointer;
}

.bordered {
    border-style: solid;
    border-color:rgb(238, 238, 238);
}