.section--box {
    align-self: center;
    padding: 0 50px;
    text-align: left;
    width: 700px;
}

.section--title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.3em;
}

.section--paragraph {
    font-size: 17px;
}